<!DOCTYPE html>
<html>
  <head>
  <title>  {{page.title}} </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
        <nav>
        <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/acerca">Acerca de mi</a></li>
              <li><a href="/proyecto">Proyectos</a></li>
              <li><a href="/tareas">Tareas</a></li>
        </ul>
        </nav>
  <div class="container">
  <div class="blurb">
          <h1>Hola, soy Carlos Vásquez</h1>
            <p> Taller de Creación de Página Web</p>
            </div>
            </div>
 <footer>
 <ul>
              <li><a href="mailto:carlos.vasquez@upch.pe">email</a></li>
              <li><a href="https://github.com/carlosvasquezr/">github.com/carlosvasquezr/</a></li>
 </ul>
              
 </footer>
  </body>
</html>

                      
       
                     
                                  
                   
